[Settings]
TwitchToken=PUT_YOUR_TWITCH_TOKEN_HERE
ClientID=PUT_YOUR_DEVELOPER_CLIENT_ID_HERE
RetryTime=30
RetryTimeKick = 120
ExtraArgs=--twitch-disable-ads
CurlConfig=/usr/bin/curl  # Ensure this is the correct path to curl
CurlHeaders=/config/chrome110.header
YtDlpArgs=--add-header "User-Agent:Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/119.0.0.0 Safari/537.36"

