[Settings]
TwitchToken=PUT_YOUR_TWITCH_TOKEN_HERE
ClientID=
RetryTime=30
RetryTimeKick=120
ExtraArgs=
CurlConfig=config/curl.cfg
CurlHeaders=config/chrome110.header
YtDlpArgs=--impersonate chrome --geo-bypass
RestartStreamIfBetterQualityIsAvailable = 1080p,1440p,2160p
RestartStreamIfBetterQualityCheckDelayTime = 30
